/.github export-ignore
/tests export-ignore
/examples export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php_cs export-ignore
/.phive export-ignore
/psalm.xml export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
